<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>
<ul>
  <li><a href="https://urlvincent.alwaysdata.net/">hello</a></li>
  <li><a href="https://urlvincent.alwaysdata.net/contact/">contact</a></li>
  <li><a href="https://urlvincent.alwaysdata.net/rapport/">graphique</a></li>
  <li><a href="https://urlvincent.alwaysdata.net/histogramme/">histogramme</a></li>
  <li><a href="https://urlvincent.alwaysdata.net/commits/">commits</a></li>
</ul>
<h2>une bonne note par pitié</h2>
<form action="https://perdu.com">
    Nom: <input type="text">
    <br><br>
    Prénom: <input type="text">
    <br><br>
    Avis:
    <textarea></textarea>
    <br><br>
    Note (sur 20): 
    <select>
        <option>20</option>
        <option>21</option>
        <option>22</option>
    </select>
    <br><br>
    <button type="submit">Surprise</button>
</form>

</body>
</html>
