<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>

<h2>je suis actuellement bloqué sur la question 4 et la 6</h2>
<form action="https://perdu.com">
    Nom: <input type="text">
    <br><br>
    Prénom: <input type="text">
    <br><br>
    Avis:
    <textarea></textarea>
    <br><br>
    Note (sur 20): 
    <select>
        <option>20</option>
        <option>21</option>
        <option>22</option>
    </select>
    <br><br>
    <button type="submit">Surprise</button>
</form>

</body>
</html>
