<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>svp monsieur</title>
</head>
<body>

<h2>svp mettez moi 20</h2>
<form action="traitement.php" method="post">
    Nom: <input type="text" name="nom" required>
    <br><br>
    Prénom: <input type="text" name="prenom" required>
    <br><br>
    Avis:
    <textarea name="avis" rows="5" cols="40" required></textarea>
    <br><br>
    Note (sur 20): 
    <select name="note" required>
        <option value="20">20</option>
    </select>
    <br><br>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="submit" value="Surprise">
</form>

</body>
</html>
